* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-card {
    padding: 20px;
    text-align: center;
}

.box-card img {
    border-radius: 25%;
}